<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <header class="header">
        <div class="container">
            <div class="row-wrap">
                <div class="logo-wrap">
                    <span class="logo" style = "font-family: 'Capriola', sans-serif;">TranquilQuest</span>
                </div>
                <div class="nav-wrap">
                    <ul class="nav-list">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Contact-us</a></li>
                        <% if(!currentuser) { %>
                        <li><a href="http://localhost:3000/login"><button >Login</button></a></li>
                        <li><a href="http://localhost:3000/signup"><button>Sign Up</button></a></li>
                        <% } %>
                        <% if(currentuser) { %>
                            <li><a href=`http://localhost:3000/myprofile/${currentuser._id}`><button> My Profile </button></a></li>
                            <% } %>
                        <li class="with-submenu">
                            <a href="#">Articles</a>
                            <div class="submenu">
                                <ul class="submenu-inner">
                                    <li><a href="#">Depression</a></li>
                                    <li><a href="#">Personality Disorder</a></li>
                                    <li><a href="#">Eating Disorder</a></li>
                                    <li><a href="#">PTSD(Post Traumatic Stress Disorder)</a></li>
                                    <li><a href="#">OCD(Obsessive Compulsive Disorder)</a></li>
                                    <li><a href="#">Bipolar Disorder</a></li>
                                    <li><a href="#">Anxiety Disorder</a></li>
                                    <li><a href="#">Schizophrenia</a></li>
                                    <li><a href="#">ADHD(Attention-deficit/hyperactivity disorder)</a></li>
                                    <li><a href="#">Dementia</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </header>
    <script>
        function header_adj() {
            if ($(window).width() < 767) {
                var header_height = $(".header").outerHeight();
                $(".nav-wrap .nav-list").css({ "padding-top": header_height + "px" });
                $(".nav-wrap .nav-list").css({ "float": "left" });
            } else {
                $(".nav-wrap .nav-list").css({ "padding-top": "0" });
            }
        }
        function submenu_toggle() {
            if ($(window).width() < 767) {
                $(".nav-list li.with-submenu")
                    .off()
                    .click(function () {
                        $(this).toggleClass("is-open");
                        $(".submenu").slideToggle("slow");
                    });
            }
        }
        $(document).ready(function () {
            header_adj();
            submenu_toggle();
            if ($(window).width() < 767) {
                $(".hamburger")
                    .off()
                    .click(function () {
                        $(this).toggleClass("is-active");
                        $("body,html").toggleClass("sidebar-open");
                        $(".nav-wrap").toggleClass("is-open");
                    });
        
                $(".overlay")
                    .off()
                    .click(function () {
                        $(".hamburger").removeClass("is-active");
                        $("body,html").removeClass("sidebar-open");
                        $(".nav-wrap").removeClass("is-open");
                    });
            } else {
                $(".hamburger").removeClass("is-active");
                $("body,html").removeClass("sidebar-open");
                $(".nav-wrap").removeClass("is-open");
            }
        });
        $(window).on("resize", function () {
            header_adj();
            submenu_toggle();
            if ($(window).width() < 767) {
                $(".hamburger")
                    .off()
                    .click(function () {
                        $(this).toggleClass("is-active");
                        $("body,html").toggleClass("sidebar-open");
                        $(".nav-wrap").toggleClass("is-open");
                    });
        
                $(".overlay")
                    .off()
                    .click(function () {
                        $(".hamburger").removeClass("is-active");
                        $("body,html").removeClass("sidebar-open");
                        $(".nav-wrap").removeClass("is-open");
                    });
            } else {
                $(".hamburger").removeClass("is-active");
                $("body,html").removeClass("sidebar-open");
                $(".nav-wrap").removeClass("is-open");
            }
        }); 
    </script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        button {
            font-size: 0.7rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            background-color: #ffffff;
            color: black;
            border: 1px solid #ebe5ec;
            border-radius: 12%;
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
        button:hover {
            transform: scale(1);
        }
        @media(max-width: 767px){
          .footer-col{
            width: 50%;
            margin-bottom: 30px;
          }
            #lap{
              src:local("psychescanmobviewtop.png");
            }
        }
        @media(max-width: 574px){
          .footer-col{
            width: 100%;
        }
        }
          
          @media (max-width: 767px) {
            .desktop-image {
              display: none;
            }
            .mobile-image {
              display: block;
            }
          }
          
        .sidebar-open {
            overflow: hidden;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(224, 95, 196, 0.3);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
        }
        .sidebar-open .overlay {
            opacity: 1;
            visibility: visible;
        }
        .header {
            padding: 18px 0;
            background-color: black;
            box-shadow: 3px 3px 3px #ccc;
            z-index: 100;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
        .logo {
          align-items: center;
            color: #ffffff;
            font-size: 36px;
            font-weight: 700;
        }
        .container {
            padding: 0 15px;
        }
        .row-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        .nav-list {
          float: right;
            display: flex;
            align-items: center;
        }
        
        .nav-list li {
            padding: 0 10px;
        }
        .nav-list li a {
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
            padding: 10px 0;
            position: relative;
            display: block;
        }
        .nav-list li a::after {
            content: "";
            background-color: #ffffff;
            width: 0;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.3s linear;
        }
        .nav-list li a:hover::after {
            width: 100%;
        }
        .nav-list li.active a::after {
            width: 100%;
        }
        .nav-list li.with-submenu {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .nav-list li.with-submenu > a {
            margin-right: 10px;
        }
        .nav-list li.with-submenu::after {
            content: "";
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            position: absolute;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            right: 0;
            margin-bottom: 5px;
            transition: all 0.3s;
        }
        .nav-list li.with-submenu:hover::after {
            transform: rotate(225deg);
            margin-top: 10px;
        }
        .nav-list li.with-submenu .submenu {
            position: absolute;
            left: 50%;
            top: 100%;
            background: #ffffff;
            border-radius: 10px;
            transform: translateX(-50%);
            box-shadow: 2px 2px 1px 2px #ccc;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-in-out;
        }
        .nav-list li.with-submenu:hover .submenu {
            opacity: 1;
            visibility: visible;
        }
        .nav-list li.with-submenu .submenu li {
            padding: 0;
        }
        .nav-list li.with-submenu .submenu a {
            color: #000000;
            display: block;
            padding: 8px 15px;
            transition: all 0.3s;
        }
        
        .nav-list li.with-submenu .submenu a:hover {
            background-color: rgba(49, 20, 50, 0.3);
        }
        /* .nav-list li.with-submenu .submenu a::after {
            display: none;
        } */
        .nav-list li.with-submenu > a {
            position: relative;
            z-index: 1;
        }
        .hamburger {
            display: none;
            z-index: 99;
        }
        .hamburger .line {
            width: 25px;
            height: 1.5px;
            background-color: #ffffff;
            display: block;
            margin: 5px 0;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .hamburger .line:nth-child(2) {
            width: 15px;
        }
        .hamburger:hover {
            cursor: pointer;
        }
        .hamburger.is-active .line {
            background-color: black;
        }
        .hamburger.is-active .line:nth-child(2) {
            opacity: 0;
        }
        .hamburger.is-active .line:nth-child(1) {
            -webkit-transform: translateY(6.5px) rotate(45deg);
            -ms-transform: translateY(6.5px) rotate(45deg);
            -o-transform: translateY(6.5px) rotate(45deg);
            transform: translateY(6.5px) rotate(45deg);
        }
        .hamburger.is-active .line:nth-child(3) {
            -webkit-transform: translateY(-6.5px) rotate(-45deg);
            -ms-transform: translateY(-6.5px) rotate(-45deg);
            -o-transform: translateY(-6.5px) rotate(-45deg);
            transform: translateY(-6.5px) rotate(-45deg);
        }
        @media (max-width: 767px) {
            .header {
                padding: 10px 0;
            }
            .hamburger {
                display: block;
            }
            .hamburger .line {
                width: 25px;
                height: 1.5px;
                background-color: #f8f6f8;
                display: block;
                margin: 5px 0;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            .hamburger .line:nth-child(2) {
                width: 1.4rem;
            }
            .hamburger:hover {
                cursor: pointer;
            }
            .hamburger.is-active .line {
                background-color: black;
            }
            .hamburger.is-active .line:nth-child(2) {
                opacity: 0;
            }
            .hamburger.is-active .line:nth-child(1) {
                -webkit-transform: translateY(6.5px) rotate(45deg);
                -ms-transform: translateY(6.5px) rotate(45deg);
                -o-transform: translateY(6.5px) rotate(45deg);
                transform: translateY(6.5px) rotate(45deg);
            }
            .hamburger.is-active .line:nth-child(3) {
                -webkit-transform: translateY(-6.5px) rotate(-45deg);
                -ms-transform: translateY(-6.5px) rotate(-45deg);
                -o-transform: translateY(-6.5px) rotate(-45deg);
                transform: translateY(-6.5px) rotate(-45deg);
            }
            
            .nav-wrap {
                position: fixed;
                top: 0;
                right: -100%;
                transform: translateX(100%);
                background-color: #ffffff;
                transition: all 0.5s linear;
                max-width: 300px;
                width: 100%;
                height: 100%;
                box-shadow: 2px -5px 5px 3px #ccc;
                opacity: 0;
                visibility: hidden;
                z-index: 0;
            }
            .nav-wrap.is-open {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                right: 0;
                z-index: 9;
            }
            .nav-list {
                flex-direction: column;
                align-items: unset;
                opacity: 0;
                visibility: hidden;
                transition-delay: 0.5s;
                transition-duration: 1s;
                transition-property: all;
                padding: 10px;
            }
            .nav-wrap.is-open .nav-list {
                opacity: 1;
                visibility: visible;
            }
            .nav-list li {
                padding: 7px 10px;
            }
            .nav-list li a {
                color: black;
                text-align: left;
                display: inline-block;
                padding: 2px 0;
            }
            .nav-list li a::after {
                background-color: black;
            }
            .nav-list li.with-submenu {
                display: block;
            }
            .nav-list li.with-submenu::after {
                border-color: black;
                right: 10px;
                top: 12px;
            }
            .nav-list li.with-submenu:hover::after {
                transform: rotate(45deg);
                margin-top: 0;
            }
            .nav-list li.with-submenu.is-open::after {
                transform: rotate(225deg);
                margin-top: 5px;
            }
            .nav-list li.with-submenu .submenu {
                position: static;
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                box-shadow: none;
                border-radius: 0;
                border-top: 1px solid #ccc;
                display: none;
                transition: auto;
                margin: 10px 0;
            }
            .nav-list li.with-submenu .submenu li {
                padding: 7px 10px;
            }
            .nav-list li.with-submenu .submenu li:hover a {
                background-color: transparent;
            }
            .nav-list li.with-submenu .submenu li a {
                display: inline-block;
                padding: 2px 0;
            }
            .nav-list li.with-submenu .submenu li a::after {
                display: block;
            }
        }
    </style>
</html>