<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" viewBox="0 0 64 64" id="trophy"><path fill="#f99e0d" d="M32 41c-5.941 0-11.581-2.262-15.882-6.369-.798-.763-.827-2.029-.064-2.828.762-.8 2.028-.828 2.828-.065C22.434 35.131 27.093 37 32 37s9.566-1.869 13.118-5.261c.798-.763 2.065-.735 2.828.065.763.799.733 2.065-.064 2.828C43.581 38.738 37.941 41 32 41zM13.271 29.5c-.729 0-1.432-.4-1.785-1.094-1.309-2.575-2.11-5.34-2.384-8.217-.104-1.1.703-2.076 1.803-2.18 1.098-.1 2.075.704 2.18 1.802.225 2.375.887 4.657 1.968 6.783.5.985.107 2.188-.877 2.689C13.886 29.431 13.576 29.5 13.271 29.5zM50.729 29.5c-.305 0-.614-.07-.904-.218-.984-.5-1.377-1.704-.877-2.689 1.081-2.125 1.743-4.407 1.968-6.783.104-1.099 1.083-1.901 2.18-1.802 1.1.104 1.907 1.081 1.803 2.18-.273 2.877-1.075 5.642-2.384 8.217C52.16 29.101 51.458 29.5 50.729 29.5zM11.841 14.141c-.183 0-.369-.025-.554-.079-1.062-.305-1.675-1.413-1.369-2.475.943-3.28 2.652-6.366 4.942-8.922.735-.822 2.002-.893 2.823-.155.823.737.893 2.001.155 2.824-1.89 2.11-3.3 4.654-4.077 7.358C13.51 13.57 12.71 14.141 11.841 14.141zM52.159 14.141c-.869 0-1.669-.571-1.921-1.448-.777-2.704-2.188-5.249-4.077-7.358-.737-.823-.668-2.087.155-2.824.821-.738 2.088-.667 2.823.155 2.29 2.556 3.999 5.642 4.942 8.922.306 1.062-.308 2.169-1.369 2.475C52.528 14.115 52.342 14.141 52.159 14.141z"></path><path fill="#ffc242" d="M13.84,16.78l-0.94,2.85C12.62,20.47,11.84,21,11,21c-0.21,0-0.42-0.03-0.63-0.1l-2.85-0.94
        c-4.18-1.39-6.47-5.92-5.08-10.11L3.38,7C3.73,5.96,4.86,5.39,5.9,5.73l2.85,0.94C12.94,8.06,15.22,12.59,13.84,16.78z"></path><path fill="#fef156" d="M8.75,6.67L6.395,5.893C6.38,5.93,6.359,5.962,6.347,6l-0.94,2.85c-1.39,4.19,0.9,8.72,5.08,10.11
    l2.357,0.777c0.015-0.038,0.043-0.068,0.056-0.107l0.94-2.85C15.22,12.59,12.94,8.06,8.75,6.67z"></path><path fill="#fffbb3" d="M12.237,16c-1.062,0-1.948-0.837-1.996-1.91c-0.052-1.149-0.596-2.221-1.493-2.941
    c-0.861-0.691-0.999-1.95-0.308-2.812s1.951-0.998,2.812-0.308c1.794,1.439,2.882,3.583,2.985,5.881
    c0.05,1.104-0.805,2.038-1.908,2.088C12.299,16,12.268,16,12.237,16z"></path><path fill="#ffc242" d="M19.83,34.82c-0.22,0.48-0.62,0.86-1.12,1.05l-2.8,1.07c-0.94,0.35-1.9,0.52-2.84,0.52
    c-3.23,0-6.27-1.96-7.49-5.15l-1.06-2.8c-0.19-0.5-0.18-1.05,0.04-1.53c0.22-0.49,0.62-0.86,1.11-1.05l2.81-1.07
    c4.12-1.57,8.75,0.5,10.32,4.62l1.07,2.81C20.06,33.78,20.04,34.33,19.83,34.82z"></path><path fill="#fef156" d="M18.8,30.48c-1.57-4.12-6.2-6.19-10.32-4.62l-1.083,0.413c-0.086,0.115-0.162,0.238-0.222,0.373
    c-0.22,0.48-0.23,1.03-0.04,1.53l1.06,2.8c1.22,3.19,4.26,5.15,7.49,5.15c0.94,0,1.9-0.17,2.84-0.52l1.08-0.413
    c0.087-0.116,0.165-0.239,0.226-0.373c0.21-0.49,0.23-1.04,0.04-1.53L18.8,30.48z"></path><path fill="#fffbb3" d="M18,36c-0.806,0-1.564-0.49-1.869-1.288l-1.068-2.803c-0.262-0.689-0.707-1.29-1.286-1.737
    c-0.873-0.675-1.034-1.932-0.358-2.805c0.675-0.874,1.934-1.033,2.806-0.359c1.161,0.898,2.053,2.101,2.577,3.477l1.068,2.803
    c0.394,1.032-0.125,2.188-1.157,2.581C18.478,35.958,18.237,36,18,36z"></path><path fill="#ffc242" d="M56.48,19.96l-2.85,0.94C53.42,20.97,53.21,21,53,21c-0.84,0-1.62-0.53-1.9-1.37l-0.94-2.85
    c-1.38-4.19,0.9-8.72,5.09-10.11l2.85-0.94c1.04-0.34,2.18,0.23,2.52,1.27l0.94,2.85C62.95,14.04,60.66,18.57,56.48,19.96z"></path><path fill="#fef156" d="M61.56,9.85L60.62,7c-0.34-1.04-1.48-1.61-2.52-1.27l-2.85,0.94c-1.447,0.48-2.659,1.34-3.578,2.426
    c-0.754,1.739-0.907,3.746-0.269,5.684l0.94,2.85c0.28,0.84,1.06,1.37,1.9,1.37c0.21,0,0.42-0.03,0.63-0.1l2.85-0.94
    c1.443-0.48,2.654-1.34,3.573-2.426C62.051,13.795,62.203,11.788,61.56,9.85z"></path><path fill="#fffbb3" d="M59.937,15c-0.071,0-0.143-0.003-0.215-0.011c-1.099-0.117-1.894-1.103-1.776-2.201
    c0.061-0.569-0.001-1.134-0.181-1.68l-0.317-0.958c-0.995,0.23-2.021-0.332-2.348-1.322c-0.346-1.049,0.223-2.18,1.271-2.526
    l1.723-0.569c0.506-0.166,1.054-0.125,1.527,0.112c0.474,0.238,0.833,0.655,1,1.159l0.941,2.849c0.36,1.09,0.481,2.22,0.359,3.359
    C61.813,14.238,60.946,15,59.937,15z"></path><path fill="#ffc242" d="M59.48,29.51l-1.06,2.8c-1.22,3.19-4.26,5.15-7.49,5.15c-0.94,0-1.9-0.17-2.84-0.52l-2.8-1.07
    c-0.5-0.19-0.9-0.57-1.12-1.05c-0.21-0.49-0.23-1.04-0.04-1.53l1.07-2.81c1.57-4.12,6.2-6.19,10.32-4.62l2.81,1.07
    c0.49,0.19,0.89,0.56,1.11,1.05C59.66,28.46,59.67,29.01,59.48,29.51z"></path><path fill="#fef156" d="M52.931,35c1.869,0,3.662-0.673,5.088-1.844c0.144-0.275,0.288-0.55,0.402-0.846l1.06-2.8
    c0.19-0.5,0.18-1.05-0.04-1.53c-0.22-0.49-0.62-0.86-1.11-1.05l-2.81-1.07c-2.777-1.058-5.782-0.458-7.929,1.304
    c-0.144,0.275-0.277,0.558-0.39,0.856l-1.07,2.81c-0.19,0.49-0.17,1.04,0.04,1.53c0.22,0.48,0.62,0.86,1.12,1.05l2.8,1.07
    C51.031,34.83,51.991,35,52.931,35z"></path><path fill="#fffbb3" d="M57.615,30.796c-0.237,0-0.478-0.042-0.712-0.131L54.1,29.596c-0.821-0.313-1.698-0.349-2.54-0.104
    c-1.058,0.311-2.17-0.299-2.479-1.36c-0.31-1.06,0.3-2.17,1.36-2.479c1.684-0.491,3.442-0.42,5.084,0.207l2.803,1.068
    c1.032,0.394,1.551,1.549,1.157,2.581C59.18,30.305,58.421,30.796,57.615,30.796z"></path><path fill="#4d5460" d="M32,34c-1.104,0-2-0.896-2-2v-9c0-1.104,0.896-2,2-2s2,0.896,2,2v9C34,33.104,33.104,34,32,34z"></path><path fill="#fcaa1a" d="M39,32v7c0,1.1-0.9,2-2,2H27c-1.1,0-2-0.9-2-2v-7c0-1.1,0.9-2,2-2h10C38.1,30,39,30.9,39,32z"></path><path fill="#ffc242" d="M39,32v2h-8c-1.105,0-2-0.895-2-2v0c0-1.1,0.9-2,2-2h6C38.1,30,39,30.9,39,32z"></path><path fill="#fcaa1a" d="M45.09,14.32l-4.22,4.15l0.97,5.84c0.2,1.19-0.29,2.37-1.26,3.08c-0.98,0.72-2.26,0.81-3.33,0.25L32,24.92
    l-5.25,2.72C26.28,27.88,25.78,28,25.29,28c-0.66,0-1.31-0.2-1.86-0.6c-0.98-0.72-1.47-1.9-1.27-3.09l0.97-5.84l-4.22-4.15
    c-0.86-0.85-1.16-2.09-0.78-3.24c0.36-1.14,1.34-1.97,2.53-2.15l5.86-0.89l2.65-5.29C29.71,1.67,30.79,1,32,1s2.29,0.67,2.83,1.75
    l2.65,5.29l5.86,0.89c1.19,0.18,2.17,1.01,2.54,2.16C46.25,12.23,45.95,13.47,45.09,14.32z"></path><path fill="#ffc242" d="M39.003,12.296c-0.1,0-0.2-0.008-0.301-0.023l-2.241-0.337c-1.022-0.155-1.904-0.798-2.364-1.719l-2.1-4.197
    c-0.53,0.896-1.667,1.241-2.616,0.769c-0.987-0.495-1.388-1.696-0.893-2.684l0.677-1.354C29.706,1.671,30.792,1,32,1
    s2.294,0.671,2.834,1.75l2.648,5.294l1.815,0.274c1.093,0.165,1.845,1.183,1.68,2.275C40.828,11.585,39.976,12.296,39.003,12.296z
     M37.675,8.428l0.001,0.002C37.676,8.43,37.675,8.429,37.675,8.428z"></path><path fill="#384051" d="M43,55H21V41c0-1.105,0.895-2,2-2h18c1.105,0,2,0.895,2,2V55z"></path><path fill="#ffc242" d="M41,37H23c-2.21,0-4,1.79-4,4v14c0,1.1,0.9,2,2,2h22c1.1,0,2-0.9,2-2V41C45,38.79,43.21,37,41,37z M41,53H23
    V41h18V53z"></path><path fill="#fef156" d="M45,41v9.08C44.67,50.02,44.34,50,44,50h-3v-9H23c0-2.21,1.79-4,4-4h14C43.21,37,45,38.79,45,41z"></path><path fill="#fffbb3" d="M43,46c-1.104,0-2-0.896-2-2v-3h-4c-1.104,0-2-0.896-2-2s0.896-2,2-2h4c2.206,0,4,1.794,4,4v3
    C45,45.104,44.104,46,43,46z"></path><path fill="#ffc242" d="M48,57v4c0,1.1-0.9,2-2,2H18c-1.1,0-2-0.9-2-2v-4c0-2.21,1.79-4,4-4h24C46.21,53,48,54.79,48,57z"></path><path fill="#fef156" d="M44,53H20c-0.308,0-0.604,0.042-0.892,0.108C19.042,53.396,19,53.692,19,54v0c0,3.3,2.7,6,6,6h23v-3
    C48,54.791,46.209,53,44,53z"></path><path fill="#fffbb3" d="M42,57H32c-1.105,0-2-0.895-2-2v0c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2v0C44,56.105,43.105,57,42,57z
    "></path></svg>
</body>
</html>